*.tmp
*.bak
*.swp
*.launch
**/.DS_Store
.DS_Store
AndroidSocket/lint.xml
AndroidSocket/.project
AndroidSocket/.classpath
AndroidSocket/.settings/
AndroidSocket/local.properties
AndroidSocket/bin/**
AndroidSocket/gen/**
AndroidSocket/tmp/**
AndroidSocket/proguard/**
AndroidSocketIO/lint.xml
AndroidSocketIO/.project
AndroidSocketIO/.classpath
AndroidSocketIO/.settings/
AndroidSocketIO/local.properties
AndroidSocketIO/bin/**
AndroidSocketIO/gen/**
AndroidSocketIO/tmp/**
AndroidSocketIO/proguard/**
AndroidSocketIOTest/lint.xml
AndroidSocketIOTest/.project
AndroidSocketIOTest/.classpath
AndroidSocketIOTest/.settings/
AndroidSocketIOTest/local.properties
AndroidSocketIOTest/bin/**
AndroidSocketIOTest/gen/**
AndroidSocketIOTest/tmp/**
AndroidSocketIOTest/proguard/**
